/*flexbox布局兼容模式*/

//弹性容器：display:flex;
@mixin flexbox{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

//行内弹性容器：display:inline-flex;
@mixin inline-flex{
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-block;
}

//弹性容器方向：规定弹性元素的排列方向，值包括：row（默认值）、row-reverse、column、column-reverse。
@mixin flex-direction($value:row){
  @if $value==row-reverse{
    -webkit-box-direction:reverse;
    -webkit-box-orient: horizontal;
  }@else if $value==column{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
  }@else if $value==column-reverse{
    -webkit-box-direction: reverse;
    -webkit-box-orient:vertical;
  }@else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
  }
  -webkit-flex-direction:$value;
  -moz-flex-direction:$value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

//弹性容器换行：规定弹性容器为单行还是多行，新行将沿侧轴方向堆砌。值包括：nowrap（默认值）、wrap、wrap-reverse
@mixin flex-wrap($value:nowrap){
  -webkit-flex-wrap: $value;
  -moz-flex-wrap:$value;
  @if $value==nowrap{
    -ms-flex-wrap:none;
  }@else{
    -ms-flex-wrap: $value;
  }
  flex-wrap: $value;
}

//弹性容器方向和换行简写
@mixin flex-flow($values:(row nowrap)){
  -webkit-flex-flow: $values;
  -moz-flex-flow: $values;
  -ms-flex-flow: $values;
  flex-flow: $values;
}

//弹性元素出现属性，默认值为0
@mixin  order($int:0){
  -webkit-box-ordinal-group: $int+1;
  -webkit-order:$int;
  -moz-order:$init;
  -ms-flex-order:$int;
  order: $int;
}

//弹性元素增长因数，不接受负值。
@mixin flex-grow($int:0){
  -webkit-box-flex: $int;
  -webkit-flex-grow:$int;
  -moz-flex-grow:$int;
  -ms-flex-positive:$int;
  flex-grow: $int;
}

//弹性元素收缩因数，不接受负数
@mixin flex-shrink($int:1){
  -webkit-flex-shrink: $int;
  -moz-flex-shrink:$int;
  -ms-flex-negative:$int;
  flex-shrink: $int;
}

//弹性元素伸缩基准值，不接受负值
@mixin flex-basis($value:auto){
  -webkit-flex-basis: $value;
  $moz-flex-basis:$value;
  -ms-flex-preferred-size:$value;
  flex-basis: $value;
}

//弹性元素增长因数、收缩因数和伸缩基准值简写
@mixin flex($fg:1,$fs:null,$fb:null){
  $fg-boxflex: $fg;
  @if type_of($fg)=='list'{
    $fg-boxflex:nth($fg,1);
  }
  -webkit-box-flex: $fg-boxflex;
  -webkit-flex: $fg $fs $fb;
  -moz-box-flex: $fg-boxflex;
  -moz-flex:$fg $fs $fb;
  -ms-flex:$fg $fs $fb;
  flex: $fg $fs $fb;
}

//设置弹性元素沿弹性容器主轴的对齐方式
@mixin  justify-content($value:flex-start){
  @if $value == flex-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}


//设置弹性元素沿弹性容器侧轴的对齐方式
@mixin align-items($value:stretch){
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

//单独设置弹性元素在侧轴的对齐方式，功能与“align-items”相同
@mixin  align-self($value:auto){
  -webkit-align-self: $value;
  -moz-align-self: $value;
  @if $value == flex-start {
    -ms-flex-item-align: start;
  } @else if $value == flex-end {
    -ms-flex-item-align: end;
  } @else {
    -ms-flex-item-align: $value;
  }
  align-self: $value;
}

//设置弹性容器内每行沿侧轴的对齐方式
@mixin align-content($value: stretch) {
  // No Webkit Box Fallback.
  -webkit-align-content: $value;
  -moz-align-content: $value;
  @if $value == flex-start {
    -ms-flex-line-pack: start;
  } @else if $value == flex-end {
    -ms-flex-line-pack: end;
  } @else {
    -ms-flex-line-pack: $value;
  }
  align-content: $value;
}