@import "../../common/style/reset";
@import "../../common/style/flexbox";

/*iconfront*/

@font-face {
    font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_767f9b5qpmygb9.eot?t=1496994740639');
    /* IE9*/
    src: url('//at.alicdn.com/t/font_767f9b5qpmygb9.eot?t=1496994740639#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_767f9b5qpmygb9.woff?t=1496994740639') format('woff'), /* chrome, firefox */
    url('//at.alicdn.com/t/font_767f9b5qpmygb9.ttf?t=1496994740639') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_767f9b5qpmygb9.svg?t=1496994740639#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-rili1:before {
    content: "\e602";
}

.icon-biaoqian:before {
    content: "\e64f";
}

.icon-search:before {
    content: "\e720";
}

.icon-dateto:before {
    content: "\e628";
}

.icon-xinxi:before {
    content: "\e677";
}

.icon-zuixin1:before {
    content: "\e614";
}

.icon-youjiantou-copy:before {
    content: "\e60e";
}

.icon-remen-copy:before {
    content: "\e600";
}

.icon-fenlei:before {
    content: "\e66b";
}

.icon-guankan:before {
    content: "\e606";
}

.icon-xiaoxi:before {
    content: "\e607";
}

.icon-rili:before {
    content: "\e609";
}

.icon-liulan:before {
    content: "\e7f7";
}


/*iconfont*/

* {
    font-family: STheiti, Verdana, 'Microsoft Yahei', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

.only_pc_show {
    display: block;
}

.only_mobile_show {
    display: none;
}

.page_container {
    max-width: 1170px;
    margin: 0 auto;
}

.header_fix {
    padding-top: 72px;
}


/*导航条组件*/

.header {
    z-index: 99;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10; //pc导航条背景色
    &.header_bg_white {
        background: #FFFFFF;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    } //mobile导航条背景色
    &.header_bg_black {
        background: #000000;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    } //pc导航条内容
    .nav_PC {
        @include flexbox;
        @include align-items(center);
        height: 72px; // 博客logo
        .nav_logo {
            font-size: 30px;
            color: #000000;
        } //菜单
        .nav_menus {
            @include flex(1);
            text-align: right;
            margin-right: 40px;
            .nav_menu {
                position: relative;
                display: inline-block;
                &:hover {
                    .nav_submenus {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            } // 子菜单
            .nav_submenus {
                position: absolute;
                left: 0;
                top: 32px;
                background: #FFFFFF;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
                opacity: 0;
                pointer-events: none;
                transition: all 0.2s ease-in-out;
            }
            .nav_submenu {
                text-align: center
            }
            .nav_submenu:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, 0.03);
            } //子菜单end
            .nav_link,
            .nav_sublink {
                display: block;
                padding: 0 18px;
                line-height: 33px;
                font-size: 15px;
                color: #666;
            }
            .nav_link_active {
                color: #0c94d7;
            }
            .nav_sublink_active {
                background: #0c94d7;
                color: white;
            }
            .nav_link:hover {
                @extend .nav_link_active;
            }
            .nav_sublink:hover {
                @extend .nav_sublink_active;
            }
        } //搜索图标
        .icon-search {
            font-size: 30px;
            color: #666;
            cursor: pointer;
        }
    } //mobile导航条内容
    .nav_mobile {
        height: 55px;
        line-height: 55px;
        .nav_categories,
        .nav_logo,
        .nav_search {
            float: left;
            text-align: center;
        }
        .nav_categories,
        .nav_search {
            width: 15%;
            .icon-fenlei,
            .icon-search {
                font-size: 19px;
                color: #FFFFFF;
            }
        }
        .nav_logo {
            width: 70%;
            font-size: 20px;
            color: #d3d3d3;
        }
    } //左侧弹窗导航条
    .nav_menus_left {
        position: absolute;
        left: 0;
        right: 0;
        padding: 10px 30px;
        background: #000000;
        transform: translateX(-100%);
        transition: all 0.2s ease-in-out;
        &.nav_menus_show {
            transform: translateX(0);
        }
        .nav_link,
        .nav_sublink {
            display: block;
            line-height: 35px;
            font-size: 15px;
            color: #d3d3d3;
        }
        .nav_submenus {
            padding: 0 30px;
        }
    }
}

// banner图片
.banner {
    width: 100%;
    height: 150px;
    background: url('http://demo.shejidaren.com/dr-ii/wp-content/themes/dr-ii/static/images/min/frontend/headers/bridge.jpg') center top no-repeat;
    background-size: cover;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    .banner_logo {
        display: block;
        font-size: 27px;
        color: #FFFFFF;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

// 内容展示区域
.content {
    margin-top: 30px;
    @include flexbox;
    .side_left {
        width: 170px;
        margin-right: 40px;
    }
    .main {
        // @include flex(1);
        width: 650px;
    }
    .side_right {
        width: 270px;
        margin-left: 40px;
    }
}

//左/右侧"标题展示"组件(通用)
.title {
    border-top: 1px solid #eee;
    .iconfont {
        color: #333;
        font-size: 15px;
        margin-right: 8px;
    }
    .title_name {
        position: relative;
        top: -1px;
        display: inline-block;
        padding: 15px 0;
        font-size: 15px;
        font-weight: bold;
        color: #333;
        border-top: 1px solid black;
    }
}

// 左侧类目展示（一级菜单、二级菜单）
.type {
    margin-bottom: 25px;
    .type_item,
    .subtype_item {
        position: relative;
        font-size: 13px;
        line-height: 2;
        padding-left: 15px;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 9px;
            width: 4px;
            height: 4px;
            border: 1px solid #ccc;
            border-left: none;
            border-bottom: none;
            transform: rotate(45deg);
        }
    }
    .type_link {
        display: block;
        color: #666;
        &:hover {
            color: #0c94d7;
        }
    }
}

// 最新文章和最热文章列表
.article {
    margin-bottom: 25px;
    .article_item {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        overflow: hidden;
    }
    .article_link {
        display: block;
        color: #7f7f7f;
    }
    .article_img {
        float: left;
        width: 80px;
        height: 53px;
        margin-right: 10px;
    }
    .article_info {
        overflow: hidden;
    }
    .article_title {
        margin-bottom: 8px;
        height: 34px;
        font-size: 13px;
        line-height: 17px;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .article_other {
        font-size: 12px;
    }
    .article_type {
        color: #0c94d7;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .article_click {
        float: right;
        color: #7f7f7f;
        .icon-liulan {
            font-size: 12px;
            margin-right: 5px;
        }
    }
}

// 标签展示
.tag {
    margin-bottom: 25px;
    overflow: hidden;
    .tag_item {
        float: left;
        line-height: 20px;
        padding: 0 10px;
        margin: 0 10px 10px 0;
        font-size: 13px;
        color: #666;
        background: #eee;
        border-radius: 99px;
        &.tag_item_active,
        &:hover {
            background: #0c94d7;
            color: #fff
        }
    }
}

//中间文章列表展示
.articles {
    .articles_type {
        font-size: 24px;
        color: black;
        line-height: 36px;
        margin-bottom: 30px;
    }
    .articles_item {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #eee;
        overflow: hidden;
    }
    .articles_img_container {
        float: left;
        display: block;
        width: 210px;
        height: 140px;
        font-size: 0;
        margin-right: 20px;
        overflow: hidden;
        background: #f5f5f5;
    }
    .articles_img {
        width: 100%;
        min-height: 100%;
    }
    .articles_info {
        overflow: hidden;
    }
    .articles_describe {
        height: 110px;
        overflow: hidden;
    }
    .articles_name {
        display: block;
        margin-bottom: 10px;
        font-size: 18px;
        color: black;
        line-height: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        &:hover {
            color: #0c94d7;
        }
    }
    .articles_content {
        margin-bottom: 10px;
        font-size: 15px;
        color: #666;
        line-height: 21px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .articles_tags {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px dashed #eee;
        font-size: 13px;
        line-height: 20px;
    }
    .artticles_read {
        float: right;
        color: #b2b2b2;
        &:hover {
            color: #0c94d7;
        }
    }
    .articles_tag {
        margin-right: 20px;
        color: #b2b2b2;
    }
    .iconfont {
        font-size: 13px;
        margin-right: 6px;
    }
}


/*中间——分页*/

.pager {
    text-align: center;
    margin-bottom: 30px;
    .pager_button {
        display: none;
        width: 100%;
        padding: 10px 0;
        font-size: 18px;
        color: #666;
        background: #f5f5f5;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
    }
    .pager_item,
    .ellipsis {
        display: inline-block;
        padding: 8px 13px;
        margin: 0 2px;
        font-size: 12px;
        color: #666;
    }
    .pager_item {
        background: #fff;
        border: 1px solid #eee;
        border-radius: 3px;
        cursor: pointer;
        &.pager_item_active {
            color: #fff;
            background: #0c94d7;
            border-color: #0c94d7;
        }
        &.pager_item_disabled {
            color: #ccc;
            cursor: not-allowed;
        }
    }
}


/*中间——文章详情*/

.detail {
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #666;
    a {
        color: #666;
    }
    p {
        margin-bottom: 10px;
    }
    img {
        max-width: 100%;
    }
    .detail_name {
        font-size: 30px;
        color: black;
        line-height: 45px;
        margin-bottom: 15px;
    }
    .detail_tags {
        margin-bottom: 30px;
        line-height: 20px;
    }
    .detail_tag {
        margin-right: 20px;
        color: #b2b2b2;
    }
    .iconfont {
        font-size: 13px;
        margin-right: 6px;
    }
    .article_type {
        float: right;
        display: block;
        padding: 0 8px;
        color: white;
        background: #ee916f;
    }
    .detail_content {
        margin-bottom: 50px;
        font-size: 15px;
        line-height: 23px;
    }
    .article_tags {
        margin-bottom: 20px;
        overflow: hidden;
        line-height: 23px;
        ul {
            overflow: hidden;
        }
    }
    .article_tag {
        display: inline-block;
        padding: 0 13px;
        margin-left: 10px;
        background: #eee;
        border-radius: 99px;
        cursor: pointer;
        &:hover {
            color: #0c94d7;
        }
    }
    .description {
        float: left;
        font-weight: bold;
    }
    .bdsharebuttonbox a {
        margin: 0 2px 0 0;
    }
    .reprinted_tips {
        margin: 20px 0 15px;
        padding: 10px;
        background: #f8eedb;
        border-radius: 2px;
        list-style-type: square;
        line-height: 2;
        padding-left: 25px;
    }
    .switch_article {
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        font-size: 14px;
        a {
            display: block;
            height: 21px;
            line-height: 21px;
            margin-bottom: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover .article_title {
                color: #0c94d7;
            }
        }
    }
    .prev_article,
    .next_article {
        color: #ccc;
        margin-right: 10px;
    }
}


/*左侧、中间和右侧根据屏幕自适应*/

// pc
@media screen and (min-width:980px) and (max-width:1167px) {
    .page_container {
        max-width: 970px;
    }
    .content {
        .side_left {
            display: none;
        }
    }
}

//mobile
@media screen and (max-width: 979px) {
    .page_container {
        max-width: 670px;
    }
    .only_pc_show {
        display: none;
    }
    .only_mobile_show {
        display: block;
    }
    .header_fix {
        padding-top: 56px;
    }
    .content {
        .side_left {
            display: none;
        }
        .main {
            max-width: 670px;
        }
        .side_right {
            display: none;
        }
    }
    .pager {
        .pager_button {
            display: block;
        }
        .pager_items {
            display: none;
        }
    }
}

//mobile
@media screen and (max-width:767px) {
    .page_container {
        padding: 0 15px;
    }
    .content {
        .main {
            max-width: 100%;
        }
    }
}


/*中间文章列表更具屏幕自适应*/

@media screen and (max-width:768px) {
    .articles {
        .articles_img_container {
            width: 150px;
            height: 100px;
        }
        .articles_describe {
            height: 100px;
        }
        .articles_name {
            -webkit-line-clamp: 1;
        }
        .articles_content {
            margin-bottom: 10px;
            -webkit-line-clamp: 3;
        }
        .articles_tags {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }
        .artticles_read {
            display: none;
        }
    }
}

//mobile
@media screen and (max-width:414px) {
    .content {
        margin-top: 15px;
    }
    .articles {
        .articles_item {
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        .articles_img_container {
            width: 105px;
            height: 70px;
            margin-right: 15px;
        }
        .articles_describe {
            height: 70px;
        }
        .articles_type {
            display: none;
        }
        .articles_name {
            margin-bottom: 5px;
        }
        .articles_content {
            margin-bottom: 0;
            color: #b2b2b2;
            font-size: 13px;
            line-height: 1.125;
            -webkit-line-clamp: 3;
        }
        .articles_tags {
            display: none;
        }
    }
}